.space{
    padding: 5px;
}

.body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60vw;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.title_paper{
    font-size: 35px;
    font-weight: 600;
    color: #091B8F;
}

.content{
    font-size: 20px;
    margin-bottom: 40px; 
}